<style>
/*스타일(style) 전용 메모 */
/*각 태그의 셀렉터와 연결해서 사용한다. */
/* class셀렉터, id셀렉터, teg셀렉터 */
/* teg 셀렉터 : 해당태그에 모두 적용 (1점) */
/* class셀렉터 : 해당 클레스를 보유한 모든 태그에 적용(10점)*/
/* id셀렉터 : 해당 아이디를 보유한 그 태그에 적용 (100점)*/
/* css : cascading style sheet : style 태그를 별도로 파일로 잘라냄 */
/* <link rel="stylesheet" href="./style.css"> */
p {
  /* 모든 p태그에 적용할 스타일 (teg셀렉터)*/
  color: red;
}
.blue-color {
  /* class 셀렉터 적용법 / 해당 클레스 이름을 가진 모든 태그에 적용할 스타일*/
  color: blue;
  background-color: yellowgreen;
}
#yellow-btn {
  /* id셀렉터 적용법 / 해당 아이디를 가진 1개의 태그에 적용할 스타일 */
  color: yellow;
}
</style>